<!-- Sezione introduttiva sulla condivisione dei personaggi --->
<div class="intro-section">
  <h1 class="intro-title">Condividi e Gestisci i Tuoi Personaggi</h1>
  <p class="intro-text">
    Qui puoi visualizzare e condividere i tuoi personaggi con la community. Che
    tu sia un veterano o un principiante, ogni personaggio ha una storia da
    raccontare. Esplora i tuoi personaggi, aggiorna le loro descrizioni e
    condividi le tue creazioni con il mondo. Usa il pulsante "Mostra
    Descrizione" per rivelare i dettagli di ogni personaggio.
  </p>
</div>

<div class="carousel-section mt-5 intro-section">
  <h2 class="text-white text-center mb-4">Le Vostre Foto!</h2>

  <ngb-carousel *ngIf="imageGroups.length > 0" [interval]="5000">
    <ng-template ngbSlide *ngFor="let group of imageGroups">
      <div class="row">
        <div class="col-md-4" *ngFor="let img of group">
          <div class="card character-card">
            <img [src]="img.url" class="card-img-top rounded" [alt]="img.alt" />
            <div class="card-body">
              <h5 class="card-title">{{ img.alt }}</h5>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<!-- Barra di ricerca --->
<div class="search-bar px-4">
  <input
    type="text"
    class="form-control"
    placeholder="Cerca per nome..."
    [(ngModel)]="searchTerm"
    (input)="filterPg()"
  />
  <i class="fas fa-search search-icon"></i>
</div>

<!-- Sezione dei personaggi  -->
<div class="row intro-section">
  <div class="col-md-4 mb-4" *ngFor="let personaggio of filteredPg">
    <div
      class="card character-card"
      [class.expanded]="descriptionVisible[personaggio.id]"
    >
      <div class="card-body">
        <div class="creator-info d-flex align-items-center mb-2">
          <img
            [src]="
              personaggio.creatoreFoto
                ? 'data:image/jpeg;base64,' + personaggio.creatoreFoto
                : 'assets/img/avatar.jpg'
            "
            alt="Foto di {{ personaggio.creatoreNome }}"
            class="creator-image rounded-circle"
            width="40"
            height="40"
          />
          <span class="ml-2">{{ personaggio.creatoreNome }}</span>
        </div>

        <!-- Nome del personaggio -->
        <h5 class="card-title character-name">
          <strong>{{ personaggio.nome }}</strong>
        </h5>

        <!-- Descrizione visibile solo al click -->
        <div
          *ngIf="descriptionVisible[personaggio.id]"
          class="description-container mt-2"
        >
          <div [innerHTML]="personaggio.descrizione | newlinesToBr"></div>
        </div>

        <!-- Pulsante per mostrare/nascondere la descrizione -->
        <button
          class="btn btn-secondary toggle-btn mt-2"
          (click)="toggleDescription(personaggio.id)"
        >
          {{
            descriptionVisible[personaggio.id]
              ? "Nascondi Descrizione"
              : "Mostra Descrizione"
          }}
        </button>

        <!--- Pulsante di eliminazione -->
        <button
          *ngIf="isAdmin"
          class="btn btn-danger delete-btn mt-2 ml-2"
          (click)="deletePersonaggio(personaggio.id)"
        >
          Elimina
        </button>
      </div>
    </div>
  </div>
</div>
