<div class="container contact-container mt-5 py-5">
  <h1 class="text-center mb-5">Contattaci</h1>

  <!-- Introduzione -->
  <div class="intro-section mb-4">
    <p>
      Sei un organizzatore di eventi LARP in Italia? Questo bando è rivolto a
      te! Se gestisci associazioni o eventi, puoi scrivere al nostro staff per
      richiedere la pubblicazione dei tuoi eventi sulla nostra piattaforma.
    </p>

    <p>
      L'obiettivo di <strong>Larp HUB</strong> è diffondere e supportare il LARP
      nel nostro paese. Ci proponiamo come coordinamento informale che mira a
      garantire equa rappresentanza a tutte le realtà del settore. Scopri come
      aderire alla nostra comunità di organizzatori di LARP!
    </p>

    <ul>
      <li>
        <strong>Requisito 1:</strong> Essere attivi, con almeno 1 evento LARP
        realizzato negli ultimi 12 mesi o annunciato per i prossimi 6 mesi.
      </li>
      <li>
        <strong>Requisito 2:</strong> Avere almeno 30 partecipanti agli eventi
        LARP nell'ultimo anno.
      </li>
    </ul>

    <p>
      <a
        href="https://docs.google.com/document/d/1TmGKbhUREWCpXNajDkz4srSSDoRZplnsIqJqCetDjX0/edit"
        class="text-link"
        target="_blank"
      >
        Leggi il regolamento completo
      </a>
      e ottieni l'accesso al nostro portale!
    </p>

    <p>
      Per ulteriori dettagli sui dati necessari per la pubblicazione, consulta
      il nostro
      <a
        href="https://linkfittizio.com/pubblicazione-evento"
        class="text-link"
        target="_blank"
      >
        Regolamento per la pubblicazione degli eventi </a
      >.
    </p>
  </div>

  <!-- Sezione Contatti -->
  <div class="text-center contact-info">
    <p class="contact-text">
      Se sei interessato o hai domande, non esitare a contattarci via email:
    </p>
    <a href="mailto:info@eventi.it" class="btn btn-primary" target="_blank">
      Invia una Email allo Staff Eventi
    </a>
  </div>

  <div class="text-center contact-info mt-5">
    <p class="contact-text">
      Se riscontri problemi sulla piattaforma scrivi a questo indirizzo
    </p>
    <a href="mailto:info@lobaloba.it" class="btn btn-primary" target="_blank">
      Invia una Email allo Staff Problemi
    </a>
  </div>
</div>
