<div class="container login-container">
  <h1 class="login-title">LOGIN</h1>

  <!-- Mostra il messaggio di errore solo se il flag loginError è attivo -->
  <div *ngIf="loginError" class="alert alert-danger text-center">
    {{ errorMessage }}
  </div>

  <form class="login-form text-center" (ngSubmit)="login()">
    <div class="mb-3">
      <input
        type="text"
        name="userName"
        [(ngModel)]="authData.userName"
        placeholder="Inserisci il tuo username"
        class="form-control"
        [ngClass]="{ 'is-invalid': formSubmitted && !authData.userName }"
        required
      />
      <!-- Messaggio di errore se l'username è vuoto -->
      <div *ngIf="formSubmitted && !authData.userName" class="text-danger mt-2">
        Il campo username è obbligatorio.
      </div>
    </div>

    <div class="mb-3">
      <input
        type="password"
        name="password"
        [(ngModel)]="authData.password"
        placeholder="Inserisci la tua password"
        class="form-control mt-3"
        [ngClass]="{ 'is-invalid': formSubmitted && !authData.password }"
        required
      />
      <!-- Messaggio di errore se la password è vuota -->
      <div *ngIf="formSubmitted && !authData.password" class="text-danger mt-2">
        Il campo password è obbligatorio.
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Accedi</button>
  </form>
</div>
