/* Immagini all'interno di div e link */
div a img {
  max-width: 100px;
  max-height: 100px;
}

/* Sfondo con gradiente */
#backgroundC {
  background: linear-gradient(0deg, rgba(25, 26, 40, 1) 15%, rgba(16, 17, 26, 1) 78%);
  font-size: 1.5em;
}

/* Dimensioni uniformi per immagini con la classe .cla1 */
.cla1 {
  width: 50px;
  height: 50px;
}

/* Bordo personalizzato */
.myBorder {
  border-color: #51566B !important;
}

/* Puntatore per elementi interattivi */
.pointer {
  cursor: pointer;
}

/* Dimensioni delle immagini uniformi per tutti i casi */
img {
  max-width: 100%;
  height: auto;
}

footer {

  padding: 10px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000; }

