<nav id="sfondo" class="navbar navbar-expand-lg position-sticky top-0 z-3">
  <div class="container justify-content-around">
    <!-- Logo -->
    <a class="" routerLink="/">
      <!-- <img
        class="cla1"
        src="/assets/img/Logo SITO LARP HUB.png"
        alt="Logo del sito LARP HUB"
      /> -->
    </a>

    <!-- Collapsing per versione  Mobile -->
    <button
      (click)="toggleCollapse()"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbarSupportedContent"
      class="navbar-toggler"
      type="button"
      [ngClass]="{ 'menu-open': !isCollapsed }"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Navbar Content -->
    <div
      class="collapse navbar-collapse"
      [ngClass]="{ show: !isCollapsed }"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-2 fw-bold">
        <!-- Home -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="home"
            routerLinkActive="active-link"
            aria-label="Vai alla pagina Home"
            >Home</a
          >
        </li>

        <!-- Events -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/events"
            routerLinkActive="active-link"
            aria-label="Vai alla pagina degli eventi"
            >Eventi</a
          >
        </li>

        <!-- Admin Dropdown (shown only if the user is Admin) -->
        <li
          class="nav-item dropdown"
          (mouseenter)="openDropdown()"
          (mouseleave)="closeDropdown()"
          *ngIf="isAdmin"
        >
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            aria-expanded="false"
            aria-label="Menu Admin"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu" [class.show]="isDropdownOpen">
            <li>
              <a
                class="dropdown-item"
                routerLink="/admin"
                routerLinkActive="active-link"
                aria-label="Vai alla pagina Admin"
                >Admin</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/admin/registrazioni"
                routerLinkActive="active-link"
                aria-label="Vai alla pagina delle registrazioni"
                >Registrazioni</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
      </ul>

      <!-- User Info and Logout Button / Login Link -->
      <div class="d-flex align-items-center ms-auto">
        <!-- User Info -->
        <div class="navbar-text me-3" *ngIf="user">
          <span>Benvenuto, {{ user.nome }}!</span>
        </div>

        <!-- User Link or Login Link -->
        <div class="nav-item" *ngIf="user">
          <a
            class="nav-link"
            routerLink="/user"
            routerLinkActive="active-link"
            aria-label="Vai al profilo utente"
            >Profilo</a
          >
        </div>

        <!-- Logout Button -->
        <button
          class="btn btn-outline-danger mx-3"
          *ngIf="user"
          (click)="logout()"
          aria-label="Logout"
        >
          Log out
        </button>

        <!-- Login Link -->
        <div class="nav-item" *ngIf="!user">
          <a
            class="nav-link"
            routerLink="/auth"
            routerLinkActive="active-link"
            aria-label="Vai alla pagina di login"
            >Login</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
