<div class="container login-container">
  <h1 class="text-center m-5">Registrati</h1>

  <form #registerForm="ngForm" (ngSubmit)="register()" class="login-form">
    <!-- Nome Utente -->
    <div class="form-group">
      <input
        type="text"
        name="nome"
        [(ngModel)]="newUser.Nome"
        #nome="ngModel"
        placeholder="Inserisci il tuo username"
        class="form-control"
        required
        [ngClass]="{ 'is-invalid': nome.invalid && nome.touched }"
      />
      <div *ngIf="nome.invalid && nome.touched" class="error-message">
        Il nome è obbligatorio.
      </div>
    </div>

    <!-- Email -->
    <div class="form-group">
      <input
        type="email"
        name="email"
        [(ngModel)]="newUser.Email"
        #email="ngModel"
        placeholder="Inserisci la tua email"
        class="form-control mt-3"
        required
        [ngClass]="{ 'is-invalid': email.invalid && email.touched }"
      />
      <div *ngIf="email.invalid && email.touched" class="error-message">
        Inserisci un'email valida.
      </div>
    </div>

    <!-- Password -->
    <div class="form-group">
      <input
        type="password"
        name="password"
        [(ngModel)]="newUser.PasswordHash"
        #password="ngModel"
        placeholder="Inserisci una password"
        class="form-control mt-3"
        required
        minlength="6"
        [ngClass]="{ 'is-invalid': password.invalid && password.touched }"
      />
      <div *ngIf="password.invalid && password.touched" class="error-message">
        La password deve avere almeno 6 caratteri.
      </div>
    </div>

    <!-- Conferma Password -->
    <div class="form-group">
      <input
        type="password"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        #confirmPasswordInput="ngModel"
        placeholder="Conferma la tua password"
        class="form-control mt-3"
        required
        [ngClass]="{
          'is-invalid': passwordMismatch && confirmPasswordInput.touched
        }"
      />
      <div
        *ngIf="passwordMismatch && confirmPasswordInput.touched"
        class="error-message"
      >
        Le password non corrispondono.
      </div>
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      class="btn btn-primary btn-block mt-4"
      [disabled]="registerForm.invalid || passwordMismatch"
    >
      Registrati
    </button>
  </form>
</div>
