<div *ngIf="user" class="card mx-auto" style="max-width: 80%; margin: auto">
  <div class="card-body">
    <!-- Sezione Profilo Utente -->
    <section class="profile-section">
      <h2 class="card-title">Profilo Utente</h2>
      <div class="container mb-5">
        <div class="row">
          <div class="col-md-4 mb-2 text-center">
            <p><strong>Foto Profilo:</strong></p>
            <img
              [src]="
                user.foto
                  ? 'data:image/jpeg;base64,' + user.foto
                  : 'assets/img/avatar.jpg'
              "
              alt="Foto profilo di {{ user.name }}"
              class="img-thumbnail"
              style="width: 150px; height: 150px; object-fit: cover"
            />
          </div>
          <div class="col-md-8">
            <p class="card-text"><strong>Nome:</strong> {{ user.name }}</p>
            <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
            <div *ngIf="user.roles && user.roles.length > 0">
              <p class="card-text"><strong>Ruoli:</strong></p>
              <ul class="card-text">
                <li *ngFor="let ruolo of user.roles">{{ ruolo }}</li>
              </ul>
            </div>
            <a class="btn btn-primary" [routerLink]="['editProfile']"
              >Modifica Profilo</a
            >
          </div>
        </div>
      </div>
    </section>

    <!-- Sezione Creazione Personaggio -->
    <section class="create-character-section mt-5">
      <h3><strong>I Tuoi Personaggi</strong></h3>
      <div *ngIf="user.personaggi && user.personaggi.length > 0">
        <ul class="list-unstyled">
          <li
            *ngFor="let personaggio of user.personaggi"
            class="personaggio-item d-flex justify-content-between px-2 list-group-item"
          >
            <strong>{{ personaggio.nome }}</strong>
            <div>
              <button
                class="btn btn-danger btn-sm ml-2"
                (click)="deletePersonaggio(personaggio.id)"
              >
                Elimina
              </button>
              <a
                [routerLink]="['personaggio', personaggio.id]"
                class="btn btn-info btn-sm ml-2 ms-2"
                >Dettagli</a
              >
            </div>
          </li>
        </ul>
      </div>
      <div class="text-center">
        <a routerLink="/user/create-personaggio" class="btn btn-primary">
          Crea un nuovo personaggio
        </a>
      </div>
    </section>

    <!-- Sezione Registrazioni Eventi -->
    <section class="events-section mt-5">
      <h3>
        <strong>Eventi a cui {{ user.name }} è iscritto</strong>
      </h3>
      <div class="text-center">
        <a routerLink="/user/pagamento" class="btn btn-primary">
          Procedi al pagamento
        </a>
      </div>
      <div *ngIf="user.registrazioni && user.registrazioni.length > 0">
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let registrazione of user.registrazioni"
          >
            <strong>{{ registrazione.evento.titolo }}</strong
            ><br />
            <small>Inizio: {{ registrazione.evento.dataInizio | date }}</small
            ><br />
            <small>Fine: {{ registrazione.evento.dataFine | date }}</small
            ><br />
            <small>Luogo: {{ registrazione.evento.luogo }}</small
            ><br />
            <small
              >Costo Biglietto:
              {{ registrazione.costoTotale | currency }}</small
            >

            <div
              *ngIf="registrazione.servizi && registrazione.servizi.length > 0"
              style="margin-top: 1rem"
            >
              <h4>Servizi associati:</h4>
              <ul>
                <li *ngFor="let servizio of registrazione.servizi">
                  <strong>{{ servizio.nome }}</strong
                  >: {{ servizio.descrizione }} (Costo:
                  {{ servizio.costo | currency }})
                </li>
              </ul>
            </div>
            <a
              [routerLink]="['registrazioni', registrazione.id]"
              class="btn btn-info btn-sm ml-2 me-2"
              >Dettagli</a
            >
            <button
              class="btn btn-danger"
              (click)="deleteRegistrazione(registrazione.id)"
            >
              Elimina
            </button>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>

<div *ngIf="!user" class="text-center d-flex justify-content-center">
  <div class="pyramid-loader">
    <div class="wrapper">
      <span class="side side1"></span>
      <span class="side side2"></span>
      <span class="side side3"></span>
      <span class="side side4"></span>
      <span class="shadow"></span>
    </div>
  </div>
</div>
