<!-- Introduzione alla sezione degli eventi -->
<div class="intro-section text-center mb-5">
  <h1 class="page-title">Eventi in Programma</h1>
  <p class="page-description">
    Scopri tutti gli eventi in arrivo e preparati a vivere esperienze epiche.
    Partecipa, registra il tuo personaggio e preparati a immergerti nel mondo
    del LARP!
  </p>
</div>

<div class="container pt-5 myBg rounded-4">
  <!-- Barra di ricerca -->
  <div class="search-bar px-4">
    <input
      type="text"
      class="form-control"
      placeholder="Cerca per titolo o Luogo..."
      [(ngModel)]="searchTerm"
      (input)="filterEvents()"
    />
    <i class="fas fa-search search-icon"></i>
  </div>

  <!-- Griglia degli eventi -->
  <div class="row px-4">
    <div class="col-md-4" *ngFor="let evento of filteredEvents">
      <div class="card mb-4 position-relative">
        <span
          *ngIf="evento.numeroRegistrazioni >= evento.numeroPartecipantiMax"
          class="badge bg-danger pill-al-completo"
        >
          Al completo
        </span>
        <!-- Pill Posti Disponibili -->
        <span
          *ngIf="evento.numeroRegistrazioni < evento.numeroPartecipantiMax"
          class="badge bg-success pill-posti-liberi"
        >
          Posti Disponibili
        </span>

        <img
          [src]="
            evento.immagineEvento
              ? 'data:image/jpeg;base64,' + evento.immagineEvento
              : 'assets/img/img-1.png'
          "
          class="card-img-top"
          alt="{{ evento.titolo }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ evento.titolo }}</h5>

          <p class="card-text">
            <small>{{ evento.luogo }}</small>
          </p>
          <p class="card-text">
            <small>
              {{ evento.dataInizio | date : "short" }} -
              {{ evento.dataFine | date : "short" }}
            </small>
          </p>
          <p class="card-text">
            Numero partecipanti massimi: {{ evento.numeroPartecipantiMax }}
          </p>

          <p class="card-text">
            Utenti registrati: {{ evento.numeroRegistrazioni }}
          </p>

          <a
            [routerLink]="['registrazione', evento.id]"
            class="btn mx-1 my-1"
            [class.disabled]="
              evento.numeroRegistrazioni >= evento.numeroPartecipantiMax
            "
            [attr.aria-disabled]="
              evento.numeroRegistrazioni >= evento.numeroPartecipantiMax
                ? 'true'
                : null
            "
            [ngClass]="{
              'btn-secondary':
                evento.numeroRegistrazioni >= evento.numeroPartecipantiMax,
              'btn-primary':
                evento.numeroRegistrazioni < evento.numeroPartecipantiMax
            }"
          >
            Registrati
          </a>

          <button
            *ngIf="isAdmin"
            class="btn mx-1 my-1"
            (click)="deleteEvent(evento.id!)"
          >
            Cancella
          </button>
          <a
            *ngIf="isAdmin"
            [routerLink]="['/events/edit', evento.id]"
            class="btn mx-1 my-1"
          >
            Modifica
          </a>
          <a [routerLink]="['detail', evento.id]" class="btn mx-1 my-1">
            Visualizza Dettagli
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Pulsante per aggiungere un nuovo evento -->
  <div class="mt-4 text-center">
    <a *ngIf="isAdmin" routerLink="/events/new" class="btn myBtn"
      >Aggiungi Nuovo Evento</a
    >
  </div>
</div>
