<div class="container mt-5">
  <div class="search-bar">
    <input
      type="text"
      class="form-control"
      placeholder="Cerca per titolo..."
      [(ngModel)]="searchTerm"
      (input)="filterEvents()"
    />
  </div>

  <div class="row">
    <div class="col-md-4" *ngFor="let evento of filteredEvents">
      <div class="card mb-4">
        <img
          [src]="'data:image/jpeg;base64,' + evento.immagineEvento"
          class="card-img-top"
          alt="{{ evento.titolo }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ evento.titolo }}</h5>

          <p class="card-text">
            <small class="text-muted">{{ evento.luogo }}</small>
          </p>
          <p class="card-text">
            <small class="text-muted"
              >{{ evento.dataInizio | date : "short" }} -
              {{ evento.dataFine | date : "short" }}</small
            >
          </p>

          <p>numero registrazioni</p>
          <p class="card-text">{{ evento.numeroRegistrazioni }}</p>

          <a [routerLink]="['registrazione', evento.id]" class="btn btn-primary"
            >Registrati</a
          >
          <button (click)="deleteEvent(evento.id!)">Cancella</button>
          <a [routerLink]="['/events/edit', evento.id]">Modifica</a>
          <a [routerLink]="['events', evento.id]" class="btn btn-info"
            >Visualizza Dettagli</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<a routerLink="/events/new">Aggiungi Nuovo Evento</a>
